/* 
Styling for Menu du Jour
Author: Xavier Bissonnette
*/

/* Main styling for the pages */

body {
    font-family: "Georgia", serif;
    image-rendering: pixelated;
    text-rendering: optimizeLegibility;

}

.special {
    background-color: red;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 2px;
    animation: special 0.5s infinite;
}

@keyframes special {
    from {
        color: white;
    }
    to {
        color: gold;
    }
}

.firstletter {
    animation: fall 20s alternate-reverse infinite;
}

@keyframes fall {
    0% {
        color: darkgreen;
    }
    25% {
        color: goldenrod;
    }
    56% {
        color: orangered;
    }
    78% {
        color: rgb(128, 75, 10);
    }
    80% {
        color: green;
    }
    90% {
        color: darkgoldenrod;
    }
    95% {
        color: darkred;
    }
    100% {
        color: darkorange;
    }
}

.center {
    text-align: center;
}

.sponsorimage {
    display: block;
    width: auto;
    height: 200px;
    background-size: cover;
    background-position: center;
    animation: sponsoranim 6s alternate-reverse infinite;
}

@keyframes sponsoranim {
    0% {
        background-image: url("res/sponsors/croquette.png");
    }
    30% {
        background-iamge: url("res/sponsors/frites.jpg");
    }
    41% {
        background-image: url("res/sponsors/hotdog.png");
    }
    61% {
        background-image: url("res/sponsors/pizza.jpg");
    }
    81% {
        background-image: url("res/sponsors/poutine.jpg");
    }
    98% {
        background-image: url("res/sponsors/poutine.png");
    }
}

/* arret de ligne separator(custom) */
sep {
    display: block;
    width: 100%;
    height: 2px;
    background: darkgrey;
    box-shadow: 1px 1px 2px rgb(37, 36, 36);
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 15px;
}

a {  
  color: inherit;
  text-decoration: none;  
}  

.testopacity {
    /* opacity of 80% */
    color: rgba(0, 0, 0, 0.8);
}

.desserts {
    border-style: groove;
    max-width: fit-content
}

.titredepage:hover {
    font-size: 38px;
    color: darkred;
}

li {
    color: darkred;
    text-shadow: 1px 1px 1px rgb(178, 178, 178);
}

li:hover {
    color: darkred;
    font-weight: bold;
    text-shadow: 1px 1px 1px whitesmoke;
    cursor: pointer;
}

.menu {
    display: block;
    padding: 2px;
}

li {
    padding: 4px;
}