.jumbotron .inner {
  -webkit-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
  padding: 25px 0;
}

.jumbotron {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.headerview {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#c7c7c7),
    to(#ff9113)
  );
}

.alert-message {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.marquee {
  overflow: hidden;
  position: relative; 
  height: 20px;
  width: 100%;
  white-space: nowrap;
}

.marquee p {
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  width: auto;
  height: 100%;
  margin: 0;
  line-height: center;
  text-align: center;
  transform: translateX(100%);
  animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100%);
  }
}

.btn {
    user-select: none;
}

.hide {
    display: none;
}


/*
 * For Old Style Menu (Listing)
 */

.menucontainer {
    width: 600px; 
    align-content:center; 
    justify-content: center; 
    text-align: center;
}

.newmenu {
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: lightgrey;
    box-shadow: 0px 2px 0px;
    border-radius: 8px;
}

.newmenu h3 {
    display: block;
    padding: 2px;
    background-color:darkgrey;
    border-radius: 8px;
}

.newmenu ol {
    padding: 10px;
    text-align: left;
}

ul {
  list-style-image: url('res/arrow.gif');
}

.newmenu li {
    font-size: 17px;
    padding: 8px;
}

.newmenu a {
    text-decoration: none;
    text-decoration-color: grey;
}

/*
 * Menupamflet Styling
 */
.menupamflet {
    background-color: lightgrey;
    align-content:center; 
    justify-content: center; 
    text-align: center;
}

.menupamflet h3 {
    padding: 2px;
    background-color:darkgrey;
    border-radius: 8px;
    width: auto;
}

.menupamflet .span8 {
    margin: 4px;
}

.menupamflet-container {
    width: 700px; 
    align-content:center; 
    justify-content: center; 
    text-align: center;
}

.sectionpamflet {
    margin: 10px; 
    text-align: left; 
    font-size: 17px;
    margin: 8px; 
    padding: 8px;
}

.sectionpamflet li {
    font-size: 17px;
    padding: 8px;
}

/*
 * Trying to backport various element from more recent Bootstrap versions
 * Below is a custom imeplement of a progress bar similar to how it work in Bootstrap 2.0 and up
 */

.progress {
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  height: 20px;
  overflow: hidden;
  margin-bottom: 18px;
  margin-top: 18px;
}

.progressbar {
  background-color: #049cdb;
  height: 100%;
  color: #ffffff;
  transition: width 0.6s ease;
}

.sponsorcard {
  margin: 20px;
  width: 200px;
  height: 200px;
  background-color: lightgrey;
}

.backbutton {
  display: block;
  margin: 10px;
  text-align: left;
}

/*
 * Page 2 Elements 
*/
.sectionheader {
    width: 100%;
}

.sectionheader h3 {
    padding: 2px 10px;
    width: fit-content;
    margin: auto auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: darkgrey;
    border-radius: 8px;
}

.sectionheader h2 {
    padding: 2px 10px;
    width: fit-content;
    margin: auto auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: darkgrey;
    border-radius: 8px;
}

.recipe {
    width: fit-content;
    margin: auto auto;  
    background-color: lightgray;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0);
}

.recipe2 {
    width: fit-content;
    margin: auto auto;  
    background-color: lightgray;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0);
}

.preparation {
    width: 800px;
    margin: auto auto;  
    margin-top: 20px;
    background-color: lightgray;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0);
}

.preparation2 {
    width: 800px;
    margin: auto auto;  
    margin-top: 20px;
    background-color: lightgray;
    border-radius: 12px;
    border-color: rgba(0, 0, 0, 0);
}